@font-face {
  font-family: "pigtruman";
  src: url("/fonts/pigtruman.ttf"); /* 修改成你的字体 */
  font-display: swap;
}
h1#site-title {
  font-family: pigtruman !important;
}
span#subtitle {
  font-family: pigtruman !important;
}
a#site-name {
  font-family: pigtruman !important;
}
.cardHover,
.layout > div:first-child:not(.recent-posts),
#recent-posts > .recent-post-item,
#aside-content .card-widget,
.layout > .recent-posts .pagination > *:not(.space) {
  background: rgba(255, 255, 255, 0.7);
  /* color: #fff; */
}
/* #aside-content .card-widget,


#recent-posts > .recent-post-item > .recent-post-info > .article-title,
#aside-content .site-data > a .headline,
#aside-content .aside-list > .aside-list-item .content > .title,
#aside-content .aside-list > .aside-list-item .content > .comment,
#aside-content .site-data > a .length-num,
#aside-content
  .card-archives
  ul.card-archive-list
  > .card-archive-list-item
  a
  span:first-child,
#aside-content
  .card-categories
  ul.card-category-list
  > .card-category-list-item
  a
  span:first-child {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.article-sort-item-title,
span,
p,
div,
time {
  color: #fff !important;
}

#nav .menus_items .menus_item .menus_item_child li a {
  background: rgba(0, 0, 0, 0.5);
}

#aside-content .card-tag-cloud a {
  color: #fff !important;
} */
